
@{
    ViewData["Title"] = "GetThumbnail";
}

<h1 class="indexText">GetThumbnail</h1>

<p class="indexText">@ViewBag.CreatedThumbnail</p>

<h3 class="indexText">@ViewBag.CreatedThumbnail2</h3>


<h3 class="indexText">@ViewBag.CreatedThumbnail3</h3>

<h3 class="indexText">@ViewBag.CreatedThumbnail4</h3>

<h3 class="indexText">@ViewBag.Url3</h3>

